# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
ENV/

# IDE files
.vscode/
.idea/
.project
.pydevproject
.settings/

# Training Outputs (Large Files)
*.zip
*.json
*.csv
logs/
models/
outputs/
H2F_training/
eval_results/

# OS specific files
.DS_Store
Thumbs.db
